/* Navigation section */
#logo{
    text-align: center;
}

#navbar{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0%;
    margin: auto;
    width: 100%;
}

#navbar ul{
    text-align: center;
    display: flex;
    /* margin: 0px; */
    
    margin: auto;
    font-size: 12px;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .4;
 }

#navbar ul a{
    margin: 16px;
    width: 100%;
}

/* Home section */
#Home{
    height: 800px;
}

#Home button{
    width: 130px;
}

#Home::before{
    content: "";
    background: url('https://images.pexels.com/photos/604969/pexels-photo-604969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center /cover;
    position: absolute;
    height: 115%;
    width: 111%;
    z-index: -1;
    opacity: .86;
}

/* our services */

#services{
    flex-direction: column;
    margin: 0%;
    padding: 0%;
}
#services .box{
        margin: auto;
        width: 90%;
        margin-top: 25px;
        height:auto;
}

/* app */
#apps{
    font-size:small;
}
#appss{
   display: flex;
}
/* business */

#business-all{
    flex-direction: column;    
}

.section p{
    font-size: 2rem;   
}

.section{
    margin: auto;
    width: 90%;
    margin-top: 25px;
    height: auto;

}
/* contact us */
#contact-box{
    width: 373px;
}

.form-group{
    width: 373px;
}

input[type="text"],input[type="number"],input[type="email"],textarea{
    width: 350px;
}

/* footer */
#footer{
    flex-direction: column;
    width: 100%;
    margin-top: 120px;
}

#footer p{
      margin-bottom: 25px;
      width:320px;
      font-size: large;
}

.box{
    margin: 10px;
}

.o{
    margin-top: 100px;
}
