*{
    box-sizing: border-box;
    list-style: none; 
    text-decoration: none;
    margin: 0%;
    padding: 0%;
    /* color: white; */
}

/* Navigation bar */
#navbar{
    display: flex;
}

/* Navigation bar :logo and image */
#logo{
    filter: invert(80%);
    padding: 10px;
    margin-left: 50px;
    margin-right: 25px;
}

#logo img{
    border-radius: 15px;
}

/* Navigation bar : List styling */
#navbar ul{
    display: flex;
    margin: 10px;
    /* border: 1px solid red; */
    font-size: 1.4rem;
}

/*To adjust the background size of navbar */
#navbar{  /*joto tuku space dorkar toto tukui nebe*/
    /* position: relative;   */
}

/* pseudo selector */
/* #navbar::before{
   content: "";
   background-color: black;
   position: absolute;
   height: 100%;
   width: 100%;
   z-index: -1;
   opacity: .4;
   top: 0;
   left: 0;
} */

#navbar ul li{
    /* padding-top: 20px; */
    margin-top: 20px;
}

#navbar ul li a{
    padding: 8px;
    margin-right: 15px;
    color: white;
    border-radius: 20px;
} 

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home section */

#Home{
    display: flex;
    flex-direction: column;
    /* padding: 1px 200px; */
    justify-content: center;
    align-items: center;
    height: 560px;
    /* border: 1px red solid; */
}

#Home::before{
    content: "";
    background: url('https://images.pexels.com/photos/604969/pexels-photo-604969.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center center /cover;
    position: absolute;
    height: 130%;
    width: 100%;
    z-index: -1;
    opacity: .86;
}

#Home h1{
     color:white;
     text-align: center;
}

/* services section */
#services{
    display: flex;
    margin: 20px;   
}

#services .box{
    border: 2px solid lightskyblue;
    width: 450px;
    height: 500px;
    box-shadow: 10px 10px 10px #888888;
    margin-left: 25px;
    border-radius: 15px;
}

#services img{
    width: 100%;
    border-radius: 15px;
}

/* utility classes */
.h-primary{
    font-size: 3.8rem;
    font-family: 'Fuggles', cursive;
    padding: 10px;
}

.h-secondary{
    font-size: 2.8rem;
    font-family: 'Fuggles', cursive; 
    padding: 10px; 
}

button{
    padding: 15px;
    font-size: 1rem;
    background-color:rgba(210, 180, 140, 0.452);
    border: 2px solid white;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 0, 255, 0.198);
}

.center{
    text-align: center;
}

.o{
    margin-top: 175px;
}
/* apps section */
#apps{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}
#apps img{
    filter: invert(80%);
    margin-right: 20px;
    margin-left: 10px;  
    border-radius: 10px;
}

#apps img:hover{
    border-radius: 50%;
}

/* Business section */

#business-all{
    display: flex;
}
#business{
    content: "";
    margin-top: 60px;
    background: url('https://images.pexels.com/photos/375467/pexels-photo-375467.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940');
    opacity: .90;
    z-index: -1;
    width: 100%;
    height: 90%;
    top: 0;
    left: 0;
}

.section p{
     font-size: 2.5rem;  
     font-weight: bold; 
}
.section p, a{
    margin-top: 10px;
    margin-left: 20px;
}
.section a{
    color: black;
    font-size: 1.2rem;
    text-decoration:underline;
}
.section img{
    border-radius: 10px;
}
.section a:hover{
    color:tomato;
}
.section{
    border: 2px solid lightskyblue;
    width: 450px;
    height: 500px;
    box-shadow: 12px 12px 12px #888888;
    margin-left: 30px;
    border-radius: 15px;   
}

/* contact */

#contact{
    margin-top: 50px;
}

#contact-box{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    box-sizing: border-box;
    border: 1px solid lightblue;
    width: 500px;
    margin: auto;
    border-radius: 8px;
}

input[type="text"],input[type="email"],input[type="number"],textarea{
    width: 480px;
    /* margin: auto;*/
    padding: 10px;
    border: 0px;
    /* border-bottom: 2px solid lightgray; */
    border-radius: 5px;
}

.form-group{
    padding: 8px;
    text-align: center;
    font-size: 1.5rem;
}

#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: .7;
    left: 0;
    right: 0;
    background: url('https://www.ashokleyland.com/backend/in/wp-content/uploads/sites/2/2021/02/Contact-us_topbanner_cropped.jpg');
}

#contact-box button{
    width: 40%;
}

/* footer */
#footer{
    display: flex;
    /* margin-top: 2px; */
    color: white;
    background-color: black;
    padding: 25px;
}

#footer p{
    margin-right: 250px;
}
